# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
service_account.json

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# Custom
/deploy.sh
**/logs.log
